body{
  background: #eee;
}

/* 详情页 */
.page-detail .swiper-container {
  height: 10rem;
}
.page-detail .swiper-slide img {
  width: 100%;
}

.mb10{margin-bottom: 10px;}

.hsq-card{background: #fff; font-size: 14px;}
.hsq-card p{margin: 0}
.hsq-card .card-title {padding: 10px; height: 36px;border-bottom: 1px solid #E4E4E4;}
.hsq-card .card-title .tit{font-size: 16px; line-height: 1;}

dfn.price{ display: inline-block; font-style: normal;font-size: 20px; color:#FF5555}
dfn.price i{font-size: 14px;font-style: normal;}

/*详情页*/
.page-view-detail{background: #efefef; color: #252525;}
.group-list{ list-style: none; margin: 0;padding: 0;}
.solid_line,
.group-list li{border-top: 1px solid #E4E4E4;}
.group-list li{min-height: 18px; margin: -1px 0 0 0;line-height: 18px;padding: 11px 10px;}

.detail-desc{}
.detail-desc .group-list .tit{font-size: 16px;line-height: 18px; margin:0 0 10px 0;}
.detail-desc .price{ margin-right: 10px;}
.detail-desc del{color: #AEAEAE;}

.gray,
.detail-desc .label{color: #959595;}
.hsq-card .link-more,
.detail-desc .num{font-size: 12px;color: #959595;}
.card-comments .list-comments{padding: 0 0 0 10px;}
.card-comments .list-comments li{padding: 11px 10px 10px 0;}
.card-comments .c-info{font-size: 12px;color: #959595; margin-bottom: 5px;}
.card-comments .c-info .author,
.card-comments .c-info .time{display: inline-block; margin-right: 10px;}
.card-comments img{display: inline-block;margin-right:5px;width: 45px; height: 45px;}
.card-comments .imgbox{margin-top: 8px;}

.main-article {padding-bottom: 1px;}
.main-article img{display: block; margin: 0 auto; max-width: 100%;}
.main-article p{margin:10px 0; padding: 0 10px;}


.down-tip{position: fixed;bottom: 0;left:0;width: 100%; min-height: 30px; line-height: 30px;color: #fff;}
.down-tip .tip-bg{position: absolute; width: 100%;height: 100px; background: rgba(0,0,0,0.7); z-index: 1;}
.down-tip img{display: inline-block;width: 32px;height: 32px; margin-right: 5px;}
.down-tip p{position: relative; z-index: 2;padding: 5px 10px 5px 20px;}
.down-tip .btn{box-sizing: border-box; line-height: 30px; height: 30px; color: #FFEE11; background: none; border: 1px solid #FFEE11; border-radius: 50px;}
.down-tip .close{position: absolute; z-index: 3;left:0;top:0;display: inline-block;width: 20px; height: 20px; line-height: 1.5;padding: 0 5px 5px 0;text-align: center;color:#fff;border-bottom-right-radius: 35px;background: #000;}
